/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fcebf0;
  --color-dark-pink: #ff6863;
  --color-yellow: #f5e042;
  --color-light-yellow: #fcf795;
  --color-dark-yellow: #f5b942;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-pastel-grey: #b8b8b8;
  --color-blue: #73aace;
  --color-white-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0px;
}

li {
  list-style: none;
}

.paperList li {
  list-style: disc;
  margin-bottom: 10px; 
  line-height: 1.6; 
  text-align:left;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  padding: 10px 16px;
  background-color: transparent;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: var(--color-yellow);
  padding: 8px 10px;
  transition: all var(--animation-duration) ease-in-out;
}

.navbarMenu {
  display: flex;
}

.navbarLogo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbarMenuItem {
  padding: 8px 12px;
  margin: 0px 4px;
  cursor: pointer;
  color: var(--color-white);
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}

.navbarMenuItem:hover {
  border: 1px solid var(--color-white);
  background-color: var(--color-dark-yellow);
}

.navbarTogglebtn {
  position: absolute;
  top: 18px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */

#home {
  background: url("imgs/home-background.png") center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.homeAvatar {
  width: 300px;
  height: 290px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.homeTitle,
.homeDescription {
  color: var(--color-white);
}

.homeContact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.homeContact:hover {
  background-color: var(--color-yellow);
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.sectionContainer {
  margin: auto;
  max-width: 1200px;
}

/* About */
.aboutMajors {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin: 80px 0px;
}

.majorIcon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}

.majorIcon i {
  transition: all var(--animation-duration) ease;
}

.majorIcon i:hover {
  color: var(--color-yellow);
  transform: rotate(-30deg) scale(1.1);
}

.majorTitle,
.majorDescription {
  color: var(--color-dark-grey);
}

.majorDescription {
  font-size: var(--font-small);
}

.schools {
  display: flex;
  align-items: center;
}

.schoolDescription {
  margin: 0 16px;
  text-align: left;
}

.schoolName,
.schoolPeriod {
  color: var(--color-light-grey);
}

.schoolName {
  font-size: var(--font-small);
}

.schoolPeriod {
  font-size: var(--font-micro);
}

.schoolLogo {
  width: 45px;
  height: 45px;
}

/* Skills */
#skills {
  background-color: var(--color-pink);
}

.skillset {
  /* display: flex; */
  display: block;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillsetTitle {
  color: var(--color-white);
}

.skillsetTop {
  flex-basis: 100%;
  background-color: var(--color-dark-grey);
  padding: 30px 40px;
}

.skillDescription {
  display: flex;
  justify-content: space-between;
}

.skillset2 {
  display: flex; /* Flex container */
  justify-content: space-between; /* Space between items */
  gap: 0px; /* Add equal spacing between items */
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}

.Lang,
.tools,
.etc {
  flex: 1; /* Equal width for each column */
  padding: 20px;
  background-color: var(--color-pastel-grey); /* Default color for Lang */
}

.tools {
  background-color: var(--color-grey);
}

.etc {
  background-color: var(--color-light-grey);
}


/* Work */

.workCategories {
  margin: 40px;
}

.categoryBtn {
  border: 1px solid var(--color-dark-grey);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative;
}

.categoryBtn.selected,
.categoryBtn:hover {
  background-color: var(--color-yellow);
  color: var(--color-white);
}

.categoryBtn.selected .categoryCount,
.categoryBtn:hover .categoryCount {
  opacity: 1;
  top: 0;
}

.categoryCount {
  border-radius: 50%;
  background-color: var(--color-orange);
  color: var(--color-white);
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  position: absolute;
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.workProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.workProjects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 200px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project.invisible {
  display: none;
}

.projectsImg {
  max-width: 100%;
  max-height: 100%;
}

.projectDescription {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .projectDescription {
  opacity: 0.8;
  transform: translateY(0px);
}

.projectDescription h3 {
  color: var(--color-dark-pink);
}

.projectDescription h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* Testimonial */
#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonialAvatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonialAvatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonialAvatar:nth-child(even) {
  margin-left: 40px;
}

.testimonialSpeech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.testimonialSpeech-bubble p {
  color: var(--color-light-grey);
}

.testimonialSpeech-bubble a {
  color: var(--color-yellow);
}

/* Contact */
#contact {
  background-color: var(--color-yellow);
}

.contactTitle,
.contactEmail,
.contactRights {
  color: var(--color-white);
}

.contactTitle {
  margin: 32px;
}

.contactLinks {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contactLinks i:hover {
  transform: scale(1.1);
  color: var(--color-orange);
  transition: all var(--animation-duration) ease-in;
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  color: var(--color-white);
  background-color: var(--color-yellow);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .navbarTogglebtn {
    display: block;
    top: 16px;
    right: 16px;
    font-size: var(--font-medium);
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-yellow);
  }

  #navbar.navbar--dark {
    padding: 16px;
  }

  .navbarMenu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .section {
    padding: 16px;
    padding-top: 40px;
  }

  .navbarMenu.open {
    display: block;
  }

  .aboutMajors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .major {
    margin-bottom: 30px;
  }

  .skillset {
    flex-direction: column;
  }

  .categoryBtn {
    margin: 4px 0;
    width: 100%;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
  }

  .testimonialAvatar {
    width: 120px;
    height: 120px;
  }

  .testimonialAvatar:nth-child(even),
  .testimonialAvatar:nth-child(odd) {
    margin: 0;
    margin-bottom: 8px;
  }

  .testimonialSpeech-bubble {
    order: 1;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}
